azure-identity
azure-keyvault-keys
azure-keyvault-secrets
azure-storage-blob
azure-cosmosdb-table
azure-data-tables
azure-messaging-webpubsubservice
aiohttp
opencv-contrib-python
coloredlogs
comtypes
imutils
pyserial
suntime
paramiko
websockets
asyncio
pandas
types-paramiko

