azure-identity
azure-keyvault-keys
azure-keyvault-secrets
azure-storage-blob
azure-cosmosdb-table
azure-data-tables
azure-messaging-webpubsubservice
aiohttp
applicationinsights
opencv-contrib-python
comtypes
imutils
suntime
paramiko
websockets
asyncio
pandas

